@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.list-field {
    width: 300px;
    position: absolute;
}

.form {
    font-family: sans-serif;
    color: white;
    padding: 1rem;
}

.formandlist {
    margin: 5rem;
    background-color: #683232;
    max-width: 20rem;
    border: solid 1px black;
    border-radius: 2rem;
}

body {
    background-color: #9ABBEF;
}

.js-highlight {
    color: grey;
    text-decoration: line-through;
}